<div id="footer">
<div class="container">
	<div class="ftintro">
		<p>Lisa Prior, founder and CEO of Prior Consulting, is an <a href="{{ '/about/' | relative_url }}">internationally recognized</a> consultant who specializes in <a href="{{ '/services/moving-self/' | relative_url }}">executive coaching</a> and <a href="{{ '/services/moving-your-organization/' | relative_url }}">organizational development</a>.</p>
	</div>
	<ul>
		<li>Prior Consulting, LLC</li>
		<li><a href="mailto:lisa@priorconsulting.com">lisa@priorconsulting.com</a></li>
	</ul>
	<ul class="small">
		<li>&copy; 1998 - {{ 'now' | date: "%Y" }} All Rights Reserved</li>
		<li><a href="{{ '/privacy-policy/' | relative_url }}">Privacy Policy</a></li>
	</ul>
</div>
</div>
