<div class="section section-subscribe">
	<h2 class="sectitle">Subscribe to our newsletter</h2>
	<p>Receive regular leadership tips and get instant access to your free copy of <em>The 4 Skills You Need Today to Create the Career You Love</em>.</p>
	<form method="post" action="https://priorconsulting.activehosted.com/proc.php">
		<p><input type="text" name="fullname" placeholder="Name" /></p>
		<p><input type="email" name="email" placeholder="Email" /></p>
		<p><input type="submit" value="Subscribe" /></p>
		<div style="display:none;">
		  <input type="hidden" name="u" value="3" />
		  <input type="hidden" name="f" value="3" />
		  <input type="hidden" name="s" />
		  <input type="hidden" name="c" value="0" />
		  <input type="hidden" name="m" value="0" />
		  <input type="hidden" name="act" value="sub" />
		  <input type="hidden" name="v" value="2" />
		</div>
	</form>
</div>
