---
layout: default
---
<header id="banner" style="background-image:url({{ '/assets/images/banner-home.jpg' | relative_url }})">
<div class="container">
	<div class="banner-wrap">
		<div class="banner-titles">
			<h1 class="pagetitle">Leadership Coaching and Change Consulting</h1>
			<p class="page-subtitle">Helping leaders move work culture forward to engage employees, improve performance, and boost the bottom line.</p>
		</div>
	</div>
</div>
</header>
<style>
#banner {background-color:#54274F;}
.intro {color:#54274F;}
.content a {color:#54274F;}
</style>

<div id="body">
<div class="container clearfix notop nobot">
	<div class="content">
		{{ content }}
	</div>
</div>
</div>
